.card {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.remaining {
  color: grey;
  font-size: 15px;
}

.leaveType {
  font-weight: bold;
  font-size: 18px;
  margin: 5px 0;
}

.cricleRemainingContainer {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px auto;
}
.progress-ring-bg {
  fill: none;
  stroke: #e5e5e5;
  stroke-width: 3;
}

.progressRing {
  width: 100%;
  height: 100%;
}

.progress-ring-fill {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease-in-out;
}
.leave-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}
