.custom-toast-container {
    z-index: 2000;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    color: black;
    border-radius: 10px;
}