body{
  background-color: #F6F6F6 !important;
}

body h5{
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.head-row{
  justify-content: space-between;
  align-items: center;
}

.card-row{
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-bottom: 20px;
}

/*purpleBtn*/
.btn.purplebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  background-color: #2b03a2;
  color: #ffffff;
  transition: background 0.3s ease;
}

.btn.purplebtn:hover {
  background-color: #3A06D6;
  color: white;
}

.btn.purplebtn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

/*requests*/
.requests-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}

.table-header {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
}

.table-wrap {  
  border: 1px solid #E4E4E4 !important;
  border-radius: 12px !important;
  overflow: hidden;
}

.leaves-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th, td {
  padding: 14px 18px;
  text-align: center;
  font-weight: 500;
}

th {
  text-transform: capitalize;
  font-weight: 600;
  color: #444;
}

td {
  background-color: white;
  border-top: 1px solid #E4E4E4 !important;
}
  
.pending {
  background-color: #CCE3FF;
}

.rejected {
  background-color: #FFC9CE;
}

.accepted {
  background-color: #CAFFC9;
}
.action-btn {
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.action-btn .dots {
  font-size: 18px;
  color: #777;
}

.action-btn:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.action-btn:active {
  background: rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

/*Sidebar*/
.lsidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: auto;
  height: 100vh;
  padding: 20px;
}

.lsidebar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%; 
  height: 90%; 
  width: 1px; 
  background-color: #C3C3C3; 
  transform: translateY(-50%); 
}

.logo {
  color: #2b03a2;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu-item {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #444;
  display: block;
}

.menu-item:hover {
  background-color: #ddd;
}

.active {
  background-color: #2b03a2;
  color: white;
}

form{
  display: inline-block;
 }
 
.down{
  width: auto;
 }
