:root {
    --primary-font: "Poppins", sans-serif;
    --background-color: #fff;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: black;
    margin: 0;
    padding: 0;
}
