.file-upload-container {
  display: flex;
  align-items: center;
  gap: 8px; 
  max-width: 100%;
  padding-top: 20px;
  
  
}

.file-upload-button {
  width: 116px;
  height: 32px;
  border-radius: 6px;
  background-color: #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #454545;
  border: none;
  cursor: pointer;
  flex-shrink: 0; 
  margin-bottom: 32px;
}

.file-upload-button svg {
  flex-shrink: 0;
}

.file-name {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  color: #454545;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px; 
  flex-grow: 1; 
  margin-bottom: 25px;
}

.hidden-input {
  display: none;
}
